# Postgres
POSTGRES_USER=nectar
POSTGRES_PASSWORD=nectar
POSTGRES_DB=nectar

# Backend
NODE_ENV=development
JWT_SECRET=

# Azure / Microsoft SSO
AZURE_CLIENT_ID=
AZURE_TENANT_ID=
AZURE_CLIENT_SECRET=
